.password-wrapper{
    max-width: 500px;
    width: 90%;
    height: 60px;
    background-color: #24232b;
    border-radius: 4px;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.password-text{
    color: #515058;
    font-size: 20px;
}
.copy-icon{
    cursor: pointer;
}
@media(max-width:700px){
    .generator-wrapper{
        overflow: hidden;
    }
}